<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="shortcut icon" href="../../static/favicon.ico" th:href="@{/favicon.ico}"/>

    <title>403 - Spring Security&OAuth2.1</title>

    <th:block th:insert="~{fragments/main::header-css}"/>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            max-width: 400px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-danger">403 - Access Denied</h1>
    <p class="text-muted">Sorry, you do not have permission to access this resource.</p>
</div>
</body>
</html>