<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="keywords" content="spring-oauth-server,OIDC1.0,OAuth2.1,IAM,IDaaS,WebAuthn"/>
    <meta name="description" content="spring-oauth-server,OIDC1.0,OAuth2.1,IAM,IDaaS,WebAuthn,MKK,monkeyk7,security"/>
    <meta name="author" content="andaily.com"/>
    <title>Device Login - Spring Security&OAuth2.1</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css" th:href="@{/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="row py-5">
        <h1 class="text-center text-primary">Device Login</h1>
    </div>
    <div class="row">
        <div class="col text-center">
            <form name="device_form" method="post" action="">
                <div class="form-group">
                    <label for="user_code">Device User-Code</label>
                    <input type="text" class="form-control" id="user_code" name="user_code" placeholder="XXXX-XXXX"
                           required/>
                    <p class="help-block">Please type device user code</p>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary btn-lg" type="submit" id="submit-">Submit</button>
                </div>
                <div class="pt-3">
                    <a class="btn btn-link regular" id="cancel-" th:href="@{/}">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/main :: footer}"/>
</body>
</html>
